.input-wrap {
    position: relative;
}
.input-message {
    background-color: white;
    overflow: auto;
    width: 100%;
    border: grey solid 1px;
    border-radius: 25px;
    outline: none;
    z-index: 1;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}
.placeholder {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    color: grey;
}