<div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10">
  <div class=" div-logotype">
    <img src="src/img/logo_login_page.png" alt="EVENT messenger" class="login-logotype">
  </div>
  <form class=""
        name="loginForm"
        #loginForm="ngForm"
        novalidate>

    <div class="login-form">
      <div>
        <div class="input-name">Username or e-mail: </div>
        <input  type="text"
                 class="input-login"
                 id="login"
                 name="user"
                 [(ngModel)]="username"
                 #userInput="ngModel"
                 required
                 appApplyErrMsg
                 [ngClass]="{'error-input': userInput.errors?.required && userInput.touched}"
                 >
      </div>
        <app-err-msg [inputModel]="userInput"
                    inputId="login"
                    [form]="loginForm"
                    requiredMsg="Username is required."
                    >
        </app-err-msg>
      <div>
        <div class="input-name">Password: </div>
        <input type="password"
                class="input-login"
                 id="password"
                 name="password"
                 [(ngModel)]="password"
                 #passwordInput="ngModel"
                 required
                 appApplyErrMsg
                 [ngClass]="{'error-input': passwordInput.errors?.required && passwordInput.touched}"
                 >
      </div>
        <app-err-msg [inputModel]="passwordInput"
                    inputId="password"
                    [form]="loginForm"
                    requiredMsg="Password is required."
                    >
        </app-err-msg>       
      
      <div class="login-btns-conteiner">
        <input type="submit" 
              (click)="setAuthConf(username, password)" 
              class="btn-submit-login"  
              value="enter"
              [disabled]="!isFormValid"
              [ngClass]="{'disabled': !isFormValid}">
      </div>
    </div>
    <div class="error-login">
      {{errorMessage}}
    </div>

  </form>
  <div class="login-content">
    <div class="spacer-loginpage"></div>
  </div>
  <div class="login-content">
    <a routerLink="../registration" title="Create new accaunt" class="text-registration"><span>Registration new member</span></a>
  </div>
<router-outlet></router-outlet>
</div>
