<div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10">
  <div class=" div-logotype">
    <img src="assets/img/logo_login_page.png" alt="EVENT messenger" class="login-logotype">
  </div>
  <form class=""
        name="loginForm"
        #loginForm="ngForm"
        >

    <div class="login-form">
      <div class="input-container">
        <div class="input-name">Username or e-mail: </div>
        <app-input-text
        name="userInput"
        [(ngModel)]="username"
        #userInput="ngModel"
        [required]="true"
        [requiredFieldError]="'Username is required'"
        >
        </app-input-text>
      </div>
      <div class="input-container">
        <div class="input-name">Password: </div>
          <app-input-password name="passwordInput"
                              [(ngModel)]="password"
                              [required]="true"
                              #passwordInput="ngModel"
                              [requiredFieldError]="'Password is required'"
                              >
          </app-input-password>
        </div>
      <div class="login-btns-conteiner">
        <button type="submit" 
              (click)="setAuthConf(username, password)" 
              class="btn-submit-login"  
              value="enter"
              [disabled]="loginForm.invalid || isPendingResponse"
              [ngClass]="{'disabled': loginForm.invalid || isPendingResponse}">
              enter
              <i *ngIf="isPendingResponse" class="fa fa-spinner fa-spin"></i>
        </button>
      </div>
    </div>
    <div class="error-login">
      {{errorMessage}}
    </div>
  </form>
  <div class="login-content">
    <div class="spacer-loginpage"></div>
  </div>
  <div class="login-content">
    <a routerLink="../registration" title="Create new account" class="text-registration" data-cy="registration"><span>Registration new member</span></a>
  </div>
  <div class="login-content">
    <a routerLink="../forgot-password" title="forgot-password" class="text-registration" data-cy="forgot-password"><span>Forgot password?</span></a>
  </div>
</div>
