@import '../../../scss/variables';

.login-logotype{
    max-width: 200px;
    height: auto;
    margin: 5px;
  }
  
.div-logotype{
    display: flex;
    margin-top: 5%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.input-container {
    width: 180px;
}

.input {
    font-size: 15px;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.reset-password-btns-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.btn-submit{
    min-width: 80px;
    background-color: #9bb00f;
    font-size: 14px;
    font-weight: 800;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    transition: 0.2s;
    border: 0px;
    border-radius: 18px;
    cursor: pointer;
    &:hover, &:active{
      background-color: #1c2001;
      color: white;
    }
  
}

input.disabled:hover, button.disabled:hover, input.disabled, button.disabled {
    cursor: default;
    background-color: map-get($disabled, 'grey');
    color: black;
}