<div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10">
  <div class="div-logotype">
    <img src="src/img/logo_login_page.png" alt="EVENT messenger" class="login-logotype">
  </div>
  <form class=""
        name="forgotPasswordForm"
        #forgotPasswordForm="ngForm"
        >
  <div class="form">      
    <div class="input-container">
      <div class="input">To reset password enter your email: </div>
        <app-input-email [(ngModel)]="email"
          #emailInput="ngModel"
          name="emailInput"
          [required]="true"
          [requiredFieldError]="'E-mail is required'">
        </app-input-email>
      </div>
      <div class="reset-password-btns-container">
        <input type="submit" 
              (click)="sendEmail(email)" 
              class="btn-submit"  
              value="enter"
              [disabled]="forgotPasswordForm.invalid"
              [ngClass]="{'disabled': forgotPasswordForm.invalid}">
      </div>
    </div>      
  </form>
</div>  