<div class="content-rows-contacts row small-screen">
  <!-- Menu -->
  <div id="menu-switcher" class="tabs-nav">
    <div class="row row-nav">
        <div class="col-xs-6
                    col-sm-6
                    col-md-3
                    col-lg-3
                    tab-expert-class
                    border-right"
        [ngClass]="{'not-active-tab': currTab !== 'contacts',  'active': currTab === 'contacts'}"
                    (click)="switcher('contacts')"
                    data-cy="contacts">
                    <span>
                      Contact list
                    </span>
                  </div>
        <div class="col-xs-6
                    col-sm-6
                    col-md-3
                    col-lg-3
                    tab-expert-class
                    border-right"
              [ngClass]="{'not-active-tab': currTab !== 'avaiting',  'active': currTab === 'avaiting'}"
                    (click)="switcher('avaiting')"
                    data-cy="avaiting">
                    <span>
                        Awaiting for confirmation
                    </span>
          <app-counter [counter]="contactsAwaiting.length"></app-counter>          
      </div>
        <div class="col-xs-6
                    col-sm-6
                    col-md-3
                    col-lg-3
                    tab-expert-class
                    border-right"
              [ngClass]="{'not-active-tab': currTab !== 'requested',  'active': currTab === 'requested'}"
                    (click)="switcher('requested')"
                    data-cy="requested">
                    <span>
                        Requested
                    </span>
      </div>
        <div class="col-xs-6
                    col-sm-6
                    col-md-3
                    col-lg-3
                    tab-expert-class"
              [ngClass]="{'not-active-tab': currTab !== 'add',  'active': currTab === 'add'}"
                    (click)="switcher('add')"
                    data-cy="add">
                    <span>
                        Add new contact
                    </span>
      </div>
    </div>
  </div>
  <!-- Exist contacts -->
  <div class="div-with-all-contacts small-screen col-xs-12
              col-sm-12
              col-md-12
              col-lg-12">
    <div class="contactList-user1 tab is-vis-tab col-xs-12" id="contacts" *ngIf="currTab === 'contacts'">
      <section *ngIf="!isContactsConfirmed">
        <div class="empty-data">You don't have any contact</div>
      </section>
      <section *ngIf="isContactsConfirmed">
          <ul class="contacts-ul">
          <li *ngFor="let item of contactsConfirmed" class="direction-row" data-cy="contact-list">
            <div class="col-xs-8 small-screen"><img src="{{item?.avatar?.url}}">{{item.name}}</div>
            <div class="col-xs-4 btn-align">
              <button class="m-btn confirm"
                      (click)="onUserInfoPopupOpen(item)">
                <i class="material-icons">visibility</i>
              </button>
              <button class="m-btn confirm"
                    (click)="goToChat({
                      chatId: item.private_chat,
                      userId: item.id,
                      name: item.name,
                      email: item.email})"
                      data-cy="new-chat">
                      <i class="material-icons">chat_bubble_outline</i>
                    </button>
              <button class="m-btn cancel"
                      (click)="onConfirmActionPopupOpen('delete contact', item.id)">
                <i class="material-icons">close</i>
              </button>
            </div>
          </li>
        </ul>
      </section>
    </div>
<!-- Contacts awaiting for confirmation -->
    <div class="contactList-user1 tab" id="avaiting" *ngIf="currTab === 'avaiting'">
        <section *ngIf="!isContactsAwaiting">
          <div class="empty-data">You don't have any request from users</div>
        </section>
        <section *ngIf="isContactsAwaiting">
            <ul class="contacts-ul">
                <li *ngFor="let item of contactsAwaiting" class="direction-row" data-cy="awaiting-contacts">
                  <div class="col-xs-8 small-screen"><img src="{{item?.avatar?.url}}">{{item.name}}</div>
                  <div class="col-xs-4 btn-align">
                    <button class="m-btn confirm" (click)="confNewUser(item.id)" data-cy="confirm">
                      <i class="material-icons">check</i>
                    </button>
                    <button class="m-btn cancel"
                            (click)="onConfirmActionPopupOpen('reject request', item.id)"
                            data-cy="cancel-btn">
                      <i class="material-icons">close</i>
                    </button>
                  </div>
                </li>
              </ul>
        </section>
    </div>
<!-- Requested contacts -->
    <div class="contactList-user1 tab" id="requested" *ngIf="currTab === 'requested'">
        <section *ngIf="!iscontactsRequested">
          <div  class="empty-data">You din't send request to any contact</div>
        </section>
        <section *ngIf="iscontactsRequested">
            <ul class="contacts-ul">
                <li *ngFor="let item of contactsRequested" class="direction-row" data-cy="requested-contacts">
                  <div class="col-xs-8 small-screen"><img src="{{item?.avatar?.url}}">{{item.name}}</div>
                  <div class="col-xs-4 btn-align">
                    <button class="m-btn cancel"
                            (click)="onConfirmActionPopupOpen('delete request', item.id)"
                            data-cy="cancel-btn">
                      <i class="material-icons">close</i>
                    </button>
                  </div>
                </li>
              </ul>
        </section>
    </div>
<!-- Search new contacts -->
    <div class="contactList-user2 tab" id="add" *ngIf="currTab === 'add'">
      <div class="input-search-container">
        <form class ="search">
          <app-input-search [placeholder]="'Search contact'"
                            [control]="searchControl"
                            (reset)="onReset($event)"
                            data-cy="search">
          </app-input-search>
        </form>
      </div>
      <div class="contactList-user2">
        <ul class="contacts-ul">
          <li *ngFor="let item of querySearch" class="direction-row" data-cy="searched-contacts">
            <div class="col-xs-8 small-screen"><img src="{{item.avatar.url}}">{{item.name}}</div>
            <div class="col-xs-4 btn-align">
              <button class="m-btn cancel" (click)="addNewUser(item.id)" data-cy="addUser">
                <i class="material-icons">check</i>
              </button>
            </div>
          </li>
        </ul>
        <div class="nothing-found" *ngIf="nothingFound">Nothing found</div>
      </div>
    </div>
  </div>
</div>
<app-user-info-popup #userPopup [userInfo]="selectedContact"></app-user-info-popup>
<app-popup-details #popupDetails [actionName]="actionName"
                    (submit)="confirmActionClick($event)"></app-popup-details>

