<div class="col-xs-2"> Back to login page
  <a routerLink="" title="Back to login page">
    <i class="material-icons">subdirectory_arrow_left</i>
  </a>
</div>
<div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10">
  <div class=" div-logotype">
    <img src="src/img/logo_login_page.png" alt="EVENT messenger" class="login-logotype">
  </div>
  <form class="">

    <div class="login-form">
      <span>Unique username: </span>
      <input type="text"
             class="input-login"
             id="login" ngModel="params.username" required>
      <span>Your e-mail: </span>
      <input type="text"
             class="input-login"
             id="mail"
             ngModel="params.email" required>
      <span>Create password: </span>
      <input type="password"
             class="input-login"
             onfocus="hideErr()"
             id="password" ngModel="params.password" >
      <span>Confirm password: </span>
      <input type="password"
             class="input-login"
             onfocus="hideErr()"
             id="password_conf" ngModel="params.passwordConf" >
      <div class="login-btns-conteiner">
        <input type="submit" onclick="setReg(params)" class="btn-submit-login"  value="create">
        <input type="submit" onclick="" class="btn-clear-login margin-btn-login"  value="clear">
      </div>
    </div>
  </form>
  <router-outlet></router-outlet>
</div>
