@import '../../../../../../scss/variables';

.toast-fail {
    display: flex;
    background-color: map-get($error-mes, 'red');
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 16px 16px;
    border-radius: 10px;
    justify-content: center;
    opacity: 0.6;
}
