.input-container {
    width: 250px;
}

.contacts-list {
    list-style: none;
}

.contact {
    margin: 5px 0;
}

.avatar {
    margin: 0 10px;
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
  }
}