@import '../../../../../../scss/variables';

.toast-message {
    background-color: map-get($bg-color, 'darker');
    color: white;
    font-size: 15px;
    padding: 16px 16px;
    border-radius: 10px;
    justify-content: center;
    opacity: 0.6;
    max-width: 300px;
    overflow: hidden;
    max-height: 50px;
}

.message {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    height: 30px;
    align-self: center;
    border-radius: 50%;
  }