@import '../../../../scss/variables';

.input-field {
    padding: 10px 30px 10px 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 18px;
    border: 1px solid map-get($border-color, 'darker');
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}

.input {
    position: relative;

    &__max-length-warning {
        font-size: 12px;
        color: map-get($font-color, 'dark-gray');
    }
}

.error {
    color: map-get($error-mes, 'red');
    font-size: 12px;
    margin-top: -15px;
}

.error-input {
    border: 1px map-get($error-border, 'red' ) solid;
}

.visibility-toggle-container {
    position: absolute;
    right: 5px;
    top: 17px;
    cursor: pointer;
    i {
        color: map-get($font-color, 'gray');
        &:hover {
            color: map-get($font-color, 'dark-gray');
        }
    }
}