.chat-component-container {
    height: 100%;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    min-height: 60px;
    width: 85%;
    padding: 16px 0;
    box-sizing: border-box;
}
