@import "../../../scss/_variables.scss";
@import "../../../scss/_functions.scss";


.chat-component-container {
    height: 100%;
    width: 100%;
}

.block-with-chat-lists {
  padding: 10px;
}

.block-chat-list {
  background-color: map-get($bg-color, 'light-olive');
  border: 1px solid #5e7419;
  border-color: map-get($bg-color, 'dark');
  padding: 10px;
  img {
    height: 30px;
    align-self: center;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.btns-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.block-header {
  font-size: 13px;
  font-weight: 600;
}

.m-btn {
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 50%;
  box-shadow: 0 1px 8px rgba(28, 32, 1, 0.2);
  i {
    color: #1c2001;
  }
}

.close-btn {
  cursor: pointer;
}

.cancel {
  background-color: #fb7e53;
  &:hover {
    cursor: pointer;
    i {
      color: #971822;
    }
  }
}
.confirm {
  background-color: #dde98f;
  &:hover {
    cursor: pointer;
    i {
      color: white;
    }
  }
}

ul {
  li {
    list-style-type: none;
  }
}

form {
  width: 100%;
}

.btn-submit-send{
    background-color: #9bb00f;
    font-size: 12px;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    transition: 0.5s;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    &:hover, &:active{
      background-color: #1c2001;
      color: white;
    }
  
  }

  .disabled, .disabled:hover {
    cursor: default;
    background-color: map-get($disabled, 'grey');
    color: black;
  }
