@import "../../../../scss/_variables.scss";
@import "../../../../scss/_functions.scss";

footer {
  position: absolute;
  bottom: 0;
  min-height: 60px;
  width: 85%;
  padding: 16px 16px;
  box-sizing: border-box;
}

.btn-submit-send{
  background-color: map-get($bg-color, 'dark');
  font-size: 12px;
  height: 36px;
  width: 36px;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  transition: 0.5s;
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
  &:hover, &:active{
    color: white;
  }
}

.chat-component-container {
    height: 100%;
    width: 100%;
}

.block-with-chat-lists {
  padding: 10px;
}

.block-chat-list {
  background-color: map-get($bg-color, 'light-olive');
  border: 1px solid #5e7419;
  border-color: map-get($bg-color, 'dark');
  padding: 5px;
  img {
    height: 30px;
    align-self: center;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.btns-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.block-header {
  font-size: 13px;
  font-weight: 600;
}

.m-btn {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border: 0px;
  border-radius: 50%;
  box-shadow: 0 1px 6px rgba(28, 32, 1, 0.2);
  padding: 2px;
  i {
    font-size: 12px;
    color: #1c2001;
  }
}

.close-btn {
  cursor: pointer;
}

.cancel {
  background-color: #fb7e53;
  &:hover {
    cursor: pointer;
    i {
      color: #971822;
    }
  }
}
.confirm {
  background-color: #dde98f;
  &:hover {
    cursor: pointer;
    i {
      color: white;
    }
  }
}

ul {
  li {
    list-style-type: none;
  }
}

.chat-window-conteiner {
  height: 100%;
  width: 100%;
}

.message-box{
  background-color: map-get($bg-color, 'light-olive');
  border: 1px solid #5e7419;
  border-color: map-get($bg-color, 'dark');
  padding: 5px;
}




footer {
    position: absolute;
    bottom: 0;
    min-height: 60px;
    width: 85%;
    padding: 16px 0;
    box-sizing: border-box;
}

form {
  width: 100%;
}

.btn-submit-send{
    background-color: #9bb00f;
    font-size: 12px;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    transition: 0.5s;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    &:hover, &:active{
      background-color: #1c2001;
      color: white;
    }
  
  }

  .disabled, .disabled:hover {
    cursor: default;
    background-color: map-get($disabled, 'grey');
    color: black;
  }
