<div class="row">
    <div class="messages-continer
    col-xs-9
            col-sm-8
            col-md-8
            col-lg-8">
    <div class="message-box">
        
        <section [ngSwitch]="isMessages">
            <span *ngSwitchCase="false">{{test}}</span>
            <span *ngSwitchCase="isMessages == true">
                <ul *ngFor="let item of arrayOfMessages">
                    <li>
{{item.authorId}}
                    </li>
                </ul>
            </span>
        </section>
         </div>
    </div>
    <div class="menu-block col-xs-4
                col-sm-4
                col-md-4
                col-lg-4">
        <div class="col-xs-12
            col-sm-12
            col-md-12
            col-lg-12
            block-with-chat-lists">
        <div class="block-chat-list">
            <span class="block-header">Privat chat list</span>
            <div class="btns-block">
                <button class="m-btn confirm">
                    <i class="material-icons">search</i>
                </button>
                <button class="m-btn confirm">
                    <i class="material-icons">add</i>
                </button>
            </div>
            <app-chat-list flag='private'></app-chat-list>
        </div>
    </div>
        <div class="col-xs-12
            col-sm-12
            col-md-12
            col-lg-12
            block-with-chat-lists">
            <div class="block-chat-list">
                <span class="block-header">Group chat list</span>
            <div class="btns-block">
                <button class="m-btn confirm">
                    <i class="material-icons">search</i>
                </button>
                <button class="m-btn confirm">
                    <i class="material-icons">add</i>
                </button>
            </div>
            <app-chat-list flag='group'></app-chat-list>
                
        </div>
    </div>
</div>

<footer>
  <form class="row">
    <div class="col-sm-9">
        <app-multi-line-input
        [formControl]="control"
        [placeholder]="'Write a message'"
        [minHeight]="35"
        [maxHeight]="250"
        [currMes]="inputMes">
        </app-multi-line-input>
    </div>
    <div class="col-sm-3">
        <button class="btn-submit-send"
        (click)="sendMessage()"
        [disabled]="control.invalid"
        [ngClass]="{'disabled': control.invalid}">
            <i class="material-icons">send</i>
        </button>
    </div>
  </form>  
</footer>

