<section class="chat-window-container">  
    <div class="row chat-wrapper">
        <app-section-spinner [loading]="isLoadingMessages" [position]="'absolute'"></app-section-spinner>
        <div class="messages-container
        col-xs-12
                col-sm-8
                col-md-8
                col-lg-8">
            <div class="message-box" (scroll)="scrollChatWindow($event)" #messageBox >
                
                <section [ngSwitch]="isMessages">
                    <span *ngSwitchCase="false">{{test}}</span>
                    <div class="message-wrapper" *ngSwitchCase="isMessages == true">
                        <ul *ngFor="let item of arrayOfMessages | reverse">
                            <li>
                                <div class="message-body"
                                [ngClass]="{'message-not-author': item.authorId !== user.username, 'message-author': item.authorId  === user.username}">
                                    <div class="message-container">
                                        <span class="author-name" > {{ arrayOfUsers | getNameFromUserID: item.authorId }}, </span>
                                        <span class="date"> {{item.date | date: 'dd.MM.yy'}}, ({{item.date | date: 'HH:mm:ss'}}): &nbsp;&nbsp;&nbsp;</span>
                                        <span class="edited-message"
                                            *ngIf="item.edited">Edited</span>
                                        <span class="text">{{item.text}}</span>
                                    </div>
                                    <div>
                                        <span class="material-icons edit-btn"
                                            *ngIf="item.authorId === user.username"
                                            (click)="editMessage(item)">
                                            edit
                                        </span>
                                        <span class="material-icons delete-btn"
                                            *ngIf="item.authorId === user.username"
                                            (click)="deleteMessage(item)">
                                            delete
                                        </span>
                                    </div>
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <div class="arrow-down" #arrowDown>
                    <i class="material-icons" *ngIf="showArrowDown" (click)="scrollDownMessageWindow()">
                        arrow_downward
                    </i> 
                </div>
            </div>
        </div>
        <div class="col-xs-12
                    col-sm-4
                    col-md-4
                    col-lg-4
                    non-visible"
                appClickOutside
                (mClickOutside)="clickOutsideMenuBlock()">
            <div class="material-icons show-chat-list" 
                (click)="showChatLists()"
                >
                keyboard_arrow_left
            </div>    
            <div class="menu-block
                        hidden"
                        #menuBlock
                        >
                <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    block-with-chat-lists">
                <div class="block-chat-list">
                    <span class="block-header">Privat chat list</span>
                    <div class="btns-block">
                        <button class="m-btn confirm">
                            <i class="material-icons">search</i>
                        </button>
                        <button class="m-btn confirm">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <app-chat-list flag='private'></app-chat-list>
                </div>
            </div>
                <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    block-with-chat-lists">
                    <div class="block-chat-list">
                        <span class="block-header">Group chat list</span>
                    <div class="btns-block">
                        <button class="m-btn confirm">
                            <i class="material-icons">search</i>
                        </button>
                        <button class="m-btn confirm">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <app-chat-list flag='group'></app-chat-list>
                        
                </div>
            </div>
        </div>
    </div>

    </div>
    

    <footer #footer>
        <div class="editing-message" *ngIf="editMessageMode">
            Editing message
        </div>
        <div class="user-is-typing" *ngIf="showUserIsTyping"> {{userNameIsTyping}} is typing</div>  
        <form class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 input-wrap">
            <app-multi-line-input
            [formControl]="control"
            [placeholder]="'Write a message'"
            [minHeight]="35"
            [maxHeight]="250"
            [currMes]="inputMes">
            </app-multi-line-input>
        </div>
        <div class="col-sm-3 col-xs-4 buttons">
            <button class="btn-submit-check" 
                    *ngIf="editMessageMode"
                    (click)="completeEditing()"
                    [disabled]="control.invalid"
                    [ngClass]="{'disabled': control.invalid}">
                <i class="material-icons">check</i>
            </button>
            <button class="btn-submit-clear" 
                    *ngIf="editMessageMode"
                    (click)="cancelEditing()">
                <i class="material-icons">clear</i>
            </button>
            <button class="btn-submit-send"
            (click)="sendMessage()"
            [disabled]="control.invalid || editMessageMode"
            *ngIf="isSendBtn"
            [ngClass]="{'disabled': control.invalid || editMessageMode}">
                <i class="material-icons">send</i>
            </button>
            
        </div>
        </form>  
    </footer>
    
</section>    