@import "../../../../scss/_variables.scss";
@import "../../../../scss/_functions.scss";

.chat-window-container {
  height: calc(100vh - #{$header-height} - 30px);
  position: relative;
}

.btn-submit-send{
  background-color: map-get($bg-color, 'dark');
  font-size: 12px;
  height: 36px;
  width: 36px;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  transition: 0.5s;
  border: 0px;
  border-radius: 50%;
  cursor: pointer;
  &:hover, &:active{
    color: white;
  }
}

.chat-component-container {
    height: 100%;
    width: 100%;
}

.block-with-chat-lists {
  padding: 10px;
}

.block-chat-list {
  background-color: map-get($bg-color, 'light-olive');
  border: 1px solid #5e7419;
  border-color: map-get($bg-color, 'dark');
  padding: 5px;
  img {
    height: 30px;
    align-self: center;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.btns-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.block-header {
  font-size: 13px;
  font-weight: 600;
}

.m-btn {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border: 0px;
  border-radius: 50%;
  box-shadow: 0 1px 6px rgba(28, 32, 1, 0.2);
  padding: 2px;
  i {
    font-size: 12px;
    color: #1c2001;
  }
}

.close-btn {
  cursor: pointer;
}

.cancel {
  background-color: #fb7e53;
  &:hover {
    cursor: pointer;
    i {
      color: #971822;
    }
  }
}
.confirm {
  background-color: #dde98f;
  &:hover {
    cursor: pointer;
    i {
      color: white;
    }
  }
}

ul {
  li {
    list-style-type: none;
  }
}
.arrow-down {
  position: absolute;
  right: 10px;
  background-color: map-get($bg-color, 'dark');
  border-radius: 50%;
  padding: 0 2px;
  cursor: pointer;
}

.messages-container {
  max-height: calc(100vh - #{$footer-height} - #{$header-height} - 50px);
}

.message-box{
  background-color: map-get($bg-color, 'light-olive');
  border: 1px solid #5e7419;
  border-color: map-get($bg-color, 'dark');
  padding: 5px;
  position: relative;
  height: 100%;
  overflow: auto;
}

// Windows with messages

.message-wrapper {
  display: flex;
  flex-direction: column;
}

.message-body {
  border-radius: 20px;
  // width: 70%;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}
.message-not-author {
  background-color: map-get($bg-color, 'gray-lighter');
  margin: 0 20% 0px 10px;
}

.message-author {
  background-color: map-get($bg-color, 'gray-light');
  margin: 0px 0px 0px 20%;
}

.author-name {
  font-size: 13px;
  color:  map-get($font-color, 'primary');
  font-weight: 500;
}
.delete-btn, .edit-btn {
  cursor: pointer;
  color:  map-get($bg-color, 'dark');
}
.editing-message {
  margin-top: 5px; 
  font-size: 13px;
  color:  map-get($bg-color, 'dark');
  font-weight: 500;
}
.date {
  font-size: 11px;
  font-style: italic; 
  color:  map-get($bg-color, 'dark');
}
.text {
  font-size: 14px;
  font-style: italic; 
  color:  map-get($bg-color, 'darker');
}

.user-is-typing {
  background-color: map-get($bg-color, 'light-olive');
  border: 1px solid #5e7419;
  border-radius: 20px;
  padding: 5px;
  font-size: 11px;
  font-style: italic;
  max-width: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    min-height: $footer-height;
    width: 85%;
    padding: 16px 0;
    box-sizing: border-box;
    height: auto;
}

form {
  width: 100%;
}

.btn-submit-send{
    background-color: #9bb00f;
    font-size: 11px;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    transition: 0.5s;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    &:hover, &:active{
      background-color: #1c2001;
      color: white;
    }
  
  }

  .btn-submit-check, .btn-submit-clear {
    background-color: map-get($bg-color, 'dark');
    font-size: 11px;
    height: 36px;
    align-items: center;
    transition: 0.5s;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 5px;
  }

  .edited-message {
    font-size: 11px;
    color:  map-get($bg-color, 'dark');
    margin-right: 5px;
  }

  .disabled, .disabled:hover {
    cursor: default;
    background-color: map-get($disabled, 'grey');
    color: black;
  }

  .show-chat-list {
    display: none;
  }

  app-section-spinner {
    display: block;
    width: 66.7%;

      /deep/ mat-spinner {
      top: 0 !important;
      z-index: 5;
      left: 65% !important;
    }
}

.hidden {
  display: block;
}

.chat-wrapper {
  flex-wrap: nowrap
}

@media only screen and (max-width: 768px) {

  div.row {
    height: 90%;
  }
}

@media only screen and (max-width: 48em) {
  .hidden {
    display: none;
  }

  .buttons {
    padding-left: 0;
    padding-right: 0; 
  }

  .chat-wrapper {
    margin-right: 0;
  }

  .btn-submit-check, .btn-submit-clear {
    margin-right: 1px;
  }
  
  .messages-container {
    padding-left: 0;
  }

  .input-wrap {
    padding-left: 0;
  }

  .show-chat-list {
    display: block;
    position: absolute;
    right: -5px;
    font-size: 30px;
    cursor: pointer;
    z-index: 6;
  }

  .menu-block {
    position: absolute;
    right: 10px;
    z-index: 6;
    width: 100%;
  }

  .non-visible {
    width: 0;
    flex-basis: 0;
    max-width: 0;
    padding: 0;
  }

  footer {
    width: 100%;
  }

}