<section class="chat-window-container">  
    <div class="row chat-wrapper">
        <div class="messages-container
        col-xs-12
                col-sm-8
                col-md-8
                col-lg-8">
            <app-section-spinner [loading]="isLoadingMessages" [diameter]="'100'" [position]="'absolute'"></app-section-spinner>
            <div class="message-box" (scroll)="scrollChatWindow($event)" #messageBox data-cy="message-window">
                
                <section [ngSwitch]="isMessages">
                    <span *ngSwitchCase="false">{{test}}</span>
                    <div class="message-wrapper" *ngSwitchCase="isMessages == true">
                        <ul *ngFor="let item of arrayOfMessages | reverse">
                            <li>
                                <div class="message-body"
                                [ngClass]="{'message-not-author': item.authorId !== user.username, 'message-author': item.authorId  === user.username}">
                                    <div class="message-container">
                                        <span class="author-name" > {{ arrayOfUsers | getNameFromUserID: item.authorId }}, </span>
                                        <span class="date"> {{item.date | date: 'dd.MM.yy'}}, ({{item.date | date: 'HH:mm:ss'}}): &nbsp;&nbsp;&nbsp;</span>
                                        <span class="edited-message"
                                            *ngIf="item.edited">Edited</span>
                                        <span class="text">
                                            <app-message-text [innerHTML]="item.text"></app-message-text>
                                        </span> 
                                    </div>
                                    <div *ngIf="item.authorId === user.username">
                                        <span class="material-icons menu-btn" 
                                                [matMenuTriggerFor]="menu"
                                                data-cy="open-menu">more_vert</span>
                                        <mat-menu #menu="matMenu">
                                            <span class="material-icons edit-btn"
                                                (click)="editMessage(item)"
                                                data-cy="edit-message">
                                                edit
                                            </span>
                                            <span class="material-icons delete-btn"
                                                (click)="deleteMessage(item)"
                                                data-cy="delete-message">
                                                delete
                                            </span>
                                        </mat-menu>
                                    </div>
                                    
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <div class="arrow-down" #arrowDown>
                    <i class="material-icons" *ngIf="showArrowDown" (click)="scrollDownMessageWindow()">
                        arrow_downward
                    </i> 
                </div>
            </div>
        </div>
        <div class="col-xs-12
                    col-sm-4
                    col-md-4
                    col-lg-4
                    non-visible"
                appClickOutside
                (mClickOutside)="clickOutsideMenuBlock()">
            <div class="material-icons show-chat-list" 
                (click)="showChatLists()"
                >
                keyboard_arrow_left
            </div>    
            <div class="menu-block
                        hidden"
                        #menuBlock
                        >
                <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    block-with-chat-lists">
                <div class="block-chat-list">
                    <span class="block-header">Privat chat list</span>
                    <div class="btns-block">
                        <button class="m-btn confirm">
                            <i class="material-icons">search</i>
                        </button>
                        <button class="m-btn confirm">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <app-chat-list flag='private' (chatIdEmit)="onChatIdEmit($event)"></app-chat-list>
                </div>
            </div>
                <div class="col-xs-12
                    col-sm-12
                    col-md-12
                    col-lg-12
                    block-with-chat-lists">
                    <div class="block-chat-list">
                        <span class="block-header">Group chat list</span>
                    <div class="btns-block">
                        <button class="m-btn confirm">
                            <i class="material-icons">search</i>
                        </button>
                        <button class="m-btn confirm">
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                    <app-chat-list flag='group' (chatIdEmit)="onChatIdEmit($event)"></app-chat-list>
                        
                </div>
            </div>
        </div>
    </div>

    </div>
    

    <footer #footer class="col-lg-8 col-md-8 col-sm-8 col-xs-8 row">
        <div class="editing-message" *ngIf="editMessageMode">
            Editing message
        </div>
        <div class="user-is-typing" *ngIf="showUserIsTyping"> {{userNameIsTyping}} is typing</div>  
        <form class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 input-wrap">
            <text-field
            [formControl]="control"
            (enterKey)="onEnterKey()"
            #messageBody
            name="messageBody"
            (keydown.enter)="writeMessage($event)"
            [text]="inputMes"
            >
            </text-field>
        </div>
        <div class="col-sm-2 col-xs-2 buttons">
            <button class="btn-submit-check" 
                    *ngIf="editMessageMode"
                    (click)="completeEditing()"
                    [disabled]="control.invalid"
                    [ngClass]="{'disabled': control.invalid}"
                    data-cy="complete-editing">
                <i class="material-icons">check</i>
            </button>
            <button class="btn-submit-clear" 
                    *ngIf="editMessageMode"
                    (click)="cancelEditing()"
                    data-cy="cancel-editing">
                <i class="material-icons">clear</i>
            </button>
            <button class="btn-submit-send"
                    (click)="sendMessage()"
                    [disabled]="control.invalid || editMessageMode"
                    *ngIf="isSendBtn"
                    [ngClass]="{'disabled': control.invalid || editMessageMode}"
                    data-cy="send">
                <i class="material-icons">send</i>
            </button>
            <button class="btn-submit-emo"
            (click)="openEmo()">
            <i class="material-icons">insert_emoticon</i>
            </button>
            <div class="smile-container"
            [ngClass]="{'invisible': openEmoList === false}"
                >
                <span *ngFor="let emo of emotions" [innerHTML]="emo"
                class="smile"
                (click)="chooseEmo(emo)"></span>
            </div>
        </div>
        </form>  
    </footer>
    
</section>    