<div class="col-xs-2"> Back to login page
  <a routerLink="/login" title="Back to login page">
    <i class="material-icons">subdirectory_arrow_left</i>
  </a>
</div>
<div class="col-xs-10
              col-sm-10
              col-md-10
              col-lg-10">
  <div class=" div-logotype">
    <img src="src/img/logo_login_page.png" alt="EVENT messenger" class="login-logotype">
  </div>
  <form class=""
        name="registrationForm"
        #registrationForm="ngForm"
        >

    <div class="login-form">
        <!-- Name field -->
        <div class="input-container">
            <div class="input-name">Your name: </div>
            <app-input-text
              name="nameUser"
              [(ngModel)]="nameOfUser"
              #nameUser="ngModel"
              [required]="true"
              [requiredFieldError]="'Name is required'"
            >
            </app-input-text>
        </div>    
           <!-- Username field -->
        <div class="input-container">   
        <div class="input-name">Unique username as ID: </div>
        <app-input-text
              name="user"
              [(ngModel)]="username"
              #user="ngModel"
              [required]="true"
              [requiredFieldError]="'Username is required'"
            >
        </app-input-text>
      </div>
      <div class="input-container">
         <!-- E-mail field -->
        <div class="input-name">Your e-mail: </div>
        <app-input-email [(ngModel)]="email"
                        #emailInput="ngModel"
                        name="emailInput"
                        [required]="true"
                        [requiredFieldError]="'E-mail is required'">
        </app-input-email>
      </div>
      <div class="input-container">
         <!-- Passwords fields -->
        <div class="input-name">Create password: </div>
        <app-input-password name="pass"
                            #pass="ngModel"
                            [(ngModel)]="password"
                            [required]="true"
                            [requiredFieldError]="'Password is required'"
        >
        </app-input-password>
      </div>
      <div class="input-container">
        <div class="input-name">Confirm password: </div>
        <app-input-password name="confPass"
                          #confPass="ngModel"
                          [(ngModel)]="passConf"
                          [required]="true"
                          [requiredFieldError]="'Confirm password is required'"
        >
        </app-input-password>
      </div>
      <div class="error-passwords">{{errorMes}}</div>
      <div class="login-btns-conteiner">
        <input type="submit" 
              (click)="setRegConf(nameOfUser, username, email, password, passConf)" 
              class="btn-submit-login"  
              value="create"
              [disabled]="registrationForm.invalid"
              [ngClass]="{'disabled': registrationForm.invalid}">
        <input type="submit" (click)="clear($event)" class="btn-clear-login margin-btn-login"  value="clear">
      </div>
    </div>   
  </form>
</div>
