.ellipsis-wrap {
    overflow: hidden;
    position: relative;
    line-height: 1.3;
}

.tooltip {
    width: 25%;
    background-color: dimgrey;
    position: fixed;
    font-size: 10px;
    color: white;
    padding: 5px;
    border-radius: 5px;
}