@import '../../../scss/variables';

.input-container {
    width: 300px;
}

.btn-submit-event {
    margin-top: 15px;
    min-width: 80px;
    background-color: #9bb00f;
    font-size: 14px;
    font-weight: 800;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    transition: 0.2s;
    border: 0px;
    border-radius: 18px;
    cursor: pointer;
    &:hover, &:active{
      background-color: #1c2001;
      color: white;
    }
}

.radio-button {
    margin-right: 15px;
}

.select-container {
    margin-right: 10px;
}

button.disabled, button.disabled:hover {
    cursor: default;
    background-color: map-get($disabled, 'grey');
    color: black;
}

.main-block {
  border: 1px solid map-get($bg-color , 'dark' );
  padding: 20px 10px 20px 10px;
}

.name-field {
    font-size: 0.8rem;
    color: map-get($font-color , 'dark-gray' );
    display: flex;
    align-content: center;
}
.name-field-dates {
font-size: 0.8rem;
color: map-get($font-color , 'dark-gray' );
margin-top: 20px;
}

.line {
    display: flex;
    align-items: flex-start;
}
.row-div {
    padding: 20px 0px 20px 10px;
}

.add-margin {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
}
.remind {
    font-size: 0.9rem;
    margin-left: 10px;
}
.padd-top {
    padding-top: 15px;
}