<form name="eventForm"
#eventForm="ngForm"
(ngSubmit)="saveEvent()"
class="main-block">
  <div class="col-xs-12 row row-div">
    <!-- Title -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 middle-xs start-xs name-field">
      Create event title 
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 input-container">
        <app-input-text [placeholder]="'Event title'"
        name="eventTitle"
        [(ngModel)]="event.name"
        [required]="true"
        >
        </app-input-text>
    </div>
    <!-- Date -->
    <div class="col-xs-12 row row-div top-xs">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 middle-xs start-xs name-field add-margin">
            Set type of date for event
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 input-container add-margin">
              <mat-radio-group [(ngModel)]="event.dateType"
                                    name="dateType"
                                    #dateType="ngModel">
                  <mat-radio-button class="radio-button"
                                    *ngFor="let dateType of dateTypes"
                                    [value]="dateType"
                                    (click)="selectDateOption()">
                    {{dateType}}
                  </mat-radio-button>
                </mat-radio-group>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <!-- Selectet type of dates -->
            <div *ngIf="event.dateType === dateTypesForTemplate.DIAPASON_OF_DATES_WITH_TIME"
                  class="col-xs-12 row">
                <div class="input-container col-xs-12 row"> 
                  <app-input-date-and-time-picker
                  class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
                  [placeholder]="'Start date and time'"
                  [(ngModel)]="event.date.startDate"
                  name="startDate"
                  ></app-input-date-and-time-picker>
                  <app-input-date-and-time-picker
                  class="col-xs-12 col-sm-12 col-md-6 col-lg-6"
                  [placeholder]="'End date and time'"
                  [(ngModel)]="event.date.endDate"
                  name="endDate"></app-input-date-and-time-picker>
                </div>
              </div>
            
              <div *ngIf="event.dateType === dateTypesForTemplate.EXACT_DATE_WITH_TIME">
                <div class="input-container col-xs-12 row">
                  <app-input-date-and-time-picker
                  class="col-xs-6"
                  [placeholder]="'Choose date and time'"
                  [(ngModel)]="event.date.startDate"
                  name="startDate"></app-input-date-and-time-picker>
                </div>
              </div>
          </div>
    </div>
  

  <!-- Contacts  -->
  <div class="col-xs-12 row padd-top">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 middle-xs start-xs name-field">
         Select members
        </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 input-container padd-top">
                <app-checkbox-dropdown [options]="contactsForDropDown"
                                        [label]="'Member(s)'"
                                        (onSelect)="selectedContacts($event)">
                </app-checkbox-dropdown>
              </div>
  </div>
  <!-- Location -->
      <div class="col-xs-12 row padd-top">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 middle-xs start-xs name-field">
            Set location of event
          </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 input-container">
          <app-input-text [placeholder]="'Event location'"
                          name="eventLocation"
                          [(ngModel)]="event.place.location">
          </app-input-text>
      </div>
        <div class="col-xs-12 row padd-top">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 start-xs name-field add-margin padd-top">
            Additional info about event
          </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 input-container">
          <app-multi-line-input [placeholder]="'Additional info'"
                                [minHeight]="80"
                                [(ngModel)]="event.additional"
                                name="additional"
          >
          </app-multi-line-input>
        </div>
      </div>
      <div class="col-xs-12 row">
        <div class="col-xs-6 col-xs-offset-3 add-margin">
            <label>
                <mat-checkbox [(ngModel)]="event.status"
                              name="status">
                </mat-checkbox>
                <span clas="remind">Remind me</span>
              </label>
        </div>
      </div>
      <div class="col-xs-12 row">
          <div class="col-xs-6 col-xs-offset-3">
              <button type="submit" 
                class="btn-submit-event"
                [disabled]="eventForm.invalid"
                [ngClass]="{'disabled': eventForm.invalid}">Save event</button>
          </div>
        </div>
  </div>
  </div>
</form>
<!-- End form -->

<app-new-event-leave-popup #eventLeavePopup></app-new-event-leave-popup>
