$fontSizeIcon: 24px;
@import '../../../../scss/variables';

.ngx-mat-timepicker {
  font-size: 13px;
  form {
    .table {
      .tbody {
        tr {
          td {
            height: 20px;
            text-align: center;
            .mat-icon-button {
              height: 12px;
              width: $fontSizeIcon;
              line-height: 1.2em;
              .mat-icon {
                font-size: 20px;
                background-color: map-get($bg-color, 'light-orange') !important;
                border-radius: 50%;
                &:hover {
                  background-color: map-get($bg-color, 'orange') !important;
                  color: white;
                }
              }
            }
            .mat-form-field {
              width: 20px;
              max-width: 20px;
              max-height: 20px;
              text-align: center;
              margin-top: 3px !important;
            }
          }
        }
      }
    }
  }
}
.mat-form-field-wrapper {
  margin-top: 0px;
  top: -8px;
}