nav {
  background: #1c2001;
  height: 100%;
  position: fixed;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {

      a {
        color: #fff;
        padding: 20px;
        display: block;
        &:hover {
          color: #9bb00f;
        }
      }

      .activated {
        background-color: #00a8ff;
      }
    }
  }

}
