<nav *ngIf="router.url === '/login'">
  <ul>
    <li>
      <a routerLink="registration" title="Create new accaunt">
        <i class="material-icons">fiber_new</i>
      </a>
    </li>
    <li>
      <a routerLink="about" title="About project">
        <i class="material-icons">info</i>
      </a>
    </li>
  </ul>
</nav>
<nav *ngIf="router.url == '/registration'">
  <ul>
    <li>
      <a routerLink="login" title="Sign in">
        <i class="material-icons">account_box</i>
      </a>
    </li>
    <li>
      <a routerLink="about" title="About project">
        <i class="material-icons">info</i>
      </a>
    </li>
  </ul>
</nav>
<nav *ngIf="router.url == '/about'">
  <ul>
    <li>
      <a routerLink="login" title="Sign in">
        <i class="material-icons">account_box</i>
      </a>
    </li>
    <li>
      <a routerLink="registration" title="Create new accaunt">
        <i class="material-icons">fiber_new</i>
      </a>
    </li>
  </ul>
</nav>
<nav *ngIf="router.url == '/main/chats'
|| router.url == '/main/chats'
|| router.url == '/main/contacts'
|| router.url == '/main/calendar'
|| router.url == '/main/events'
|| router.url == '/main/new_event'">
  <ul>
    <li *ngIf="router.url != '/main'">
      <a routerLink="main" title="home page">
        <i class="material-icons">home</i>
      </a>
    </li>
    <li *ngIf="router.url != '/main/contacts'">
      <a routerLink="main/contacts" title="contacts">
        <i class="material-icons">contacts</i>
      </a>
    </li>
    <li *ngIf="router.url != '/main/chats'">
      <a routerLink="main/chats" title="chats">
        <i class="material-icons">chat</i>
      </a>
    </li>
    <li *ngIf="router.url != '/main/events'">
      <a routerLink="main/events" title="events">
        <i class="material-icons">event</i>
      </a>
    </li>
    <li *ngIf="router.url != '/main/new_event'">
      <a routerLink="main/new_event" title="new_event">
        <i class="material-icons">note_add</i>
      </a>
    </li>
    <li *ngIf="router.url != '/main/calendar'">
      <a routerLink="main/calendar" title="calendar">
        <i class="material-icons">calendar_today</i>
      </a>
    </li>
  </ul>
</nav>
<nav *ngIf="router.url == '/main'">
  <ul>
    <li>
      <a routerLink="main/contacts" title="contacts">
        <i class="material-icons">contacts</i>
      </a>
    </li>
    <li>
      <a routerLink="main/chats" title="chats">
        <i class="material-icons">chat</i>
      </a>
    </li>
    <li>
      <a routerLink="main/events" title="events">
        <i class="material-icons">event</i>
      </a>
    </li>
    <li>
      <a routerLink="main/new_event" title="new_event">
        <i class="material-icons">note_add</i>
      </a>
    </li>
    <li>
      <a routerLink="main/calendar" title="calendar">
        <i class="material-icons">calendar_today</i>
      </a>
    </li>
  </ul>
</nav>
