aside {
  background: #1c2001;
  min-height: 100vh;
  z-index: 1;

  a {
    color: #fff;
    padding: 20px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover {
      color: #9bb00f;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {

      .activated {
        background-color: #00a8ff;
      }
    }
  }

}

.material-icons {
  width: 30px;
}

.label {
  min-width: 100px;
}