@import '../../../../../scss/variables';

.logo {
  height: $logo-height;
  width: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
  height: $header-height;
}

.router-outlet {
  height: calc(100vh - 221px);
}

.avatar {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 130%;
  background-position: center;
  &:hover {
    cursor: pointer;
  }
}

.header-user-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
  position: relative;
  min-width: 300px;
  span {
    margin-right: 10px;
  }
}

[type="file"] {
  display: none;
}