.logo {
  height: 40px;
  width: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.router-outlet {
  height: calc(100vh - 221px);
}

.avatar {
  height: 30px;
  align-self: center;
  border-radius: 50%;
}
