@import '../../../scss/variables';

.delete-avatar {
  cursor: pointer;
  position: absolute;
  right: -12px;
  font-size: 14px;
}

.logo {
  height: $logo-height;
  width: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
  height: $header-height;
}

.router-outlet {
  height: calc(100vh - 221px);
}

.avatar {
  height: 30px;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
}

.header-user-container {
  margin-right: 5%;
  position: relative;
}

[type="file"] {
  display: none;
}