<div class="header">
  <span>{{user.name}}
    <img src="{{user.avatar?.url}}" class="avatar">
  </span>
  <img src="src/img/logo_login_page.png" alt="EVENT messenger" class="logo">
</div>

<div *ngIf="router.url == '/main'" class="content-rows"> <!--
  Есть смысл сделать компонент home, для которого будет следующий маршрут:
  main/home. После того как пользовательно залогинился, то он будет попадать на этот
  маршрут. В main компоненте будет только та верстка, котора не будет меняться при
  переходе на дочерние маршруты main. В данно случае такой версткой будет пока header,
  из того что я пока вижу
  *ngIf="router.url == ...... такое здесь писать не надо
-->
  <div class="block-with-btns col-xs-12 col-sm-12 col-md-12 col-lg-8">
    <div class="col-xs-6
              icon-left block-with-animation">
      <div id="icon-event">
        <i class="material-icons">event</i>
      </div>
      <div class="url-list-container-left">
        <ul>
          <li>
            <a href="#">Calendar</a>
          </li>
          <li>
            <a href="#">Create new event</a>
          </li>
          <li>
            <a href="#">Current events</a>
          </li>
          <li>
            <a href="#">Draft events</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6
              icon-right block-with-animation">
      <div id="icon-chat">
        <i class="material-icons">chat</i>
      </div>
      <div class="url-list-container-right">
        <ul>
          <li>
            <a href="#">Chat list</a>
          </li>
          <li>
            <a href="#">Create new chat</a>
          </li>
          <li>
            <a href="#">Group chats</a>
          </li>
          <li>
            <a href="#">Event chats</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="block-with-btns col-xs-12 col-sm-12 col-md-12 col-lg-8">
    <div class="col-xs-6
              icon-left block-with-animation">
      <div id="icon-contacts">
        <i class="material-icons">contacts</i>
      </div>
      <div class="url-list-container-left">
        <ul>
          <li>
            <a routerLink="/main/contacts">Open contact list</a>
          </li>
          <li>
            <a href="#">Add new contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6
              icon-right block-with-animation">
      <div id="icon-settings">
        <i class="material-icons">settings</i>
      </div>
      <div class="url-list-container-right">
        <ul>
          <li>
            <a href="#">Edit your profile</a>
          </li>
          <li>
            <a href="#">Settings</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>

<div>
    <router-outlet>
          <!--
            Сюда будут рендерится компоненты CalendarComponent, ContactsComponent,
            ChatsComponent, EventsComponent, NewEventComponent в зависимости от маршрута.
            Один раз загружается MainComponent, а потом с него будут передаваться данные вниз в
            дочерние компоненты, которые будут сюда инициализироваться. Таким образом мы один
            раз запросим данные пользователя с серверва и не будет каждый раз их запрашивать
            при переходе на разные маршруты
          -->
       <!--сюда ничего не пишем-->  
    </router-outlet>
  </div>
<button *ngIf="router.url == '/main'" (click)="onPopupOpen()">Open pop-up</button>
<app-user-info-popup #userPopup></app-user-info-popup>
