body {
  margin: 0;
  background: #F2F2F2;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

#container {
//  display: grid;
//  grid-template-columns: 70px auto;
//  height: 100%;


  #content {
    padding: 30px 50px 30px 80px;
  }
}

input, button {
  outline: none;
}

.mat-snack-bar-container {
  width: auto !important;
  margin: 8px auto !important;
}
